
.wpsne-menu-view{
    margin-right:16px;
}

.wpsne-card{
    padding: 0;
}
div.error{
    color:red;
}

.wpsne-checkbox{
margin:4px;
}

.wpsne-submit{
    margin-top: 12px !important;
}

.wpsne-form-box{
    margin-bottom: 6px !important;
}

div.wpsne-tab-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div.wpsne-tab-menu li {
    float: left;
    margin:0;
}

div.wpsne-tab-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
       /* font-weight: bold; */
}

div.wpsne-tab-menu li a:hover:not(.active) {
    /* background-color: #111; */
    color:#94c3e5;
}

div.wpsne-tab-menu .active {
    background-color: #2271b1;
}

/* alert css */
.show-wpsne-alert {
    background: #c0e9ca;
    padding: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: #0e0d0d;
    font-size: 20px;
}
.wpsne-show-image {
    float: left;
    width: 50%;
}


.wpsne-form-box label.error{
    color:red;
}

.wpsne-alert-heading{
    margin:5px;
}
.wpsne-alert-desc{
    margin:5px;
}